= form_for(@message, :remote => @message.new_record? ? false : true) do |f| 

    - if @message.errors.any?
        #error_explanation
            %h2= pluralize(@message.errors.count, "error")
            prohibited this message from being saved:
  
        %ul
            - @message.errors.full_messages.each do |msg| 
                %li= msg
  
    .field
        = f.label :subject
        %br
        = f.text_field :subject, :size => 110
    .field
        = f.label :body
        %br
        = f.text_area :body, :rows => @message.new_record? ? 8 : 8+@message.body.lines.count, :cols => 80
  
    .actions
        = f.submit
  