%h1= message.subject
%address
  = link_to 'Show', message
  = link_to 'Edit', edit_message_path(message), :remote => true
  = link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete
%p= render_body(message.body)
