%html
    %head
        %title Revolve
        = stylesheet_link_tag    "application"
        = javascript_include_tag "application"
        = csrf_meta_tags
    %body
        #header
            %h1 RAILS 3.1 Test Application
        #container
            - unless notice.blank?
                #notice
                    = notice
            - unless alert.blank?
                #alert
                    = alert
            #main
                = yield
            %p{ style: 'clear: both;' }
        #footer
            Just a test app without any copyright ;)
    